.card-tile {
  cursor: pointer;

  display: grid;
  gap: 12px;

  background-color: var(--clr-700);
  padding: 16px;

  border-left: 12px solid var(--clr-700);
  border-right: 12px solid var(--clr-700);

  transition: all 0.3s ease;

  box-shadow: 0px 0px 8px rgb(32, 32, 32);
}

.card-tile:hover {
  background-color: var(--clr-600);
  transform: scale(1.05);
}

.card-tile span {
  font-weight: 900;
  margin-left: 4px;
}

.card-header,
.card-details {
  display: flex;
  align-items: center;
  gap: 16px;

  font-weight: 300;
}

.card-header i {
  margin-left: auto;
  font-size: 16px;
}

.card-details {
  display: grid;
  grid-template-columns: 32px 1fr;
}

.card-header {
  font-size: 18px;
}

.card-header img,
.card-details img {
  width: 32px;
}

.card-separator {
  border: 1px solid var(--clr-800);
}

.card-image {
  font-size: 24px;
  text-align: center;
}

.card-tile > * {
  pointer-events: none;
}

.active {
  border-left: 12px solid var(--clr-accent-1);
}

.card-photo {
  min-width: 100%;
  height: 200px;
  object-fit: cover;
}

#animals-list,
#files-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 30px;

  padding: 20px 30px;
  margin: 20px 20px 20px 0px;

  max-height: 100%;
}

#animals-list .card-tile,
#files-list .card-tile {
  border-left: 0px;
  border-right: 0px;
  border-bottom: 12px solid var(--clr-700);
}

#animals-list .card-tile.active,
#files-list .card-tile.active {
  border-bottom: 12px solid var(--clr-accent-1);
}
