.card-tile {
  cursor: pointer;
  display: flex;
  transition: all 0.5s ease;
}

.card-tile:hover {
  background-color: var(--clr-600);
  transform: scale(1.02);
}

.card-tile button {
  display: none;
  padding: 8px 16px;
  color: rgb(175, 69, 69);
  background: var(--clr-700);
  border: none;
  border-radius: 0px;
}

.card-tile:hover button {
  display: block;
}

.card-tile button:hover {
  background: rgb(175, 69, 69);
  color: var(--clr-100);

  cursor: pointer;
}

.card-content {
  flex: 1;
  display: grid;
  gap: 12px;

  background-color: var(--clr-700);
  padding: 16px;

  border-left: 12px solid var(--clr-700);
  border-right: 12px solid var(--clr-700);

  box-shadow: 0px 0px 8px rgb(32, 32, 32);
}

.card-tile span {
  font-weight: 900;
  margin-left: 4px;
}

.card-header,
.card-details {
  display: flex;
  align-items: center;
  gap: 16px;

  font-weight: 300;
}

.card-header i {
  margin-left: auto;
  font-size: 16px;
}

.card-details {
  display: grid;
  grid-template-columns: 32px 1fr;
}

.card-header {
  font-size: 18px;
}

.card-header img,
.card-details img {
  width: 32px;
}

.card-separator {
  border: 1px solid var(--clr-800);
}

.card-image {
  font-size: 24px;
  text-align: center;
}

.card-tile .card-content {
  pointer-events: none;
}

.card-tile.active {
  border-left: 12px solid var(--clr-accent-1);
}

.card-photo {
  min-width: 100%;
  height: 200px;
  object-fit: cover;
}

.content .card-tile {
  max-width: 33%;
  border: 0px;
}
