#content {
  max-height: 100vh;
  display: flex;
  flex-direction: column;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

#content.visible {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

#add-animal,
#add-file {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 10px;

  margin-block: 16px;
}

#content .secondary-heading {
  border-left: 2px solid var(--clr-800);
  border-right: 2px solid var(--clr-800);
}

#content-list {
  padding-inline: 24px;
  padding-block: 16px;
  margin-right: 16px;
  margin-block: 16px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
