#details {
  height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr auto;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  background-color: var(--clr-800);
}

#details.visible {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

#details section {
  display: none;
}

#details section.visible {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 24px;
}

#budget-form > div {
  display: grid;
  gap: 12px;
}

#budget-form .form-group,
#todos-form .form-group {
  display: flex;
  gap: 12px;
  align-items: center;
}

#budget-filter,
#todos-calendar {
  background-color: var(--clr-700);
  color: var(--clr-100);
  border: 1px solid var(--clr-800);
  padding: 8px 12px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  border-radius: 4px;
  appearance: none;
  text-align: center;
}

#budget-filter:focus {
  outline: none;
  border-color: var(--clr-900);
}
