.details-panel {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.details-panel.visible {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.details-section {
  border-top: 1px solid var(--clr-600);
  border-bottom: 1px solid var(--clr-600);
  height: 100%;
  display: none;
}

.details-section.visible {
  display: grid;
  grid-template-rows: min-content min-content min-content;
  gap: 20px;
  padding: 28px;
}

/* TEMP */

.details-section .img {
  width: 50px;
}

.details-section .card-tile {
  transform: none;
}
