.field {
  cursor: pointer;
  transition: all 0.5s ease;
  display: grid;
  gap: 10px;

  background-color: #2a2a2a;
  border-radius: 6px;
  padding: 16px;
}

.field p {
  pointer-events: none;
}

.field-type {
  display: flex;
  gap: 8px;
  align-items: center;
}

.field-type img {
  width: 24px;
}

.field:hover {
  background-color: #333333;
}

/* 1140
  
  1000
  
  866
  
  akumulator centra 195ah 6v */
