#items {
  display: flex;
  flex-direction: column;

  max-height: 100vh;
  background-color: var(--clr-800);
}

#items .list {
  padding: 20px 24px;
}

#add-item {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

#add-item.visible {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

#items .button {
  margin: 16px 24px;
}