.details-section.todo.visible,
.details-section.budget.visible {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.details-panel .items-list {
  /* reset */
  padding: 0px;
  border-top: none;
  /* end of reset */

  cursor: pointer;

  box-shadow: 0px 0px 8px rgb(32, 32, 32);

  font-weight: 300;

  display: grid;
  gap: 12px;
  overflow-y: auto;
}

.details-panel .list-item {
  border-bottom: 2px solid var(--clr-800);
  padding: 16px;
  display: flex;
  gap: 16px;

  align-items: center;
  background-color: var(--clr-700);
}

.details-panel .list-item div {
  display: grid;
  gap: 8px;
}

.details-panel .list-item .item-image {
  font-size: 32px;
  text-align: center;
}

.details-panel .list-item .item-image.income {
  color: rgb(43, 148, 43);
}

.details-panel .list-item .item-image.expense {
  color: rgb(179, 68, 68);
}

.details-panel .list-item span {
  margin-left: 4px;
  font-weight: 900;
}

.details-panel .list-item input[type="checkbox"]:checked + p {
  text-decoration: line-through;
}

.details-panel input,
.details-panel button {
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.details-panel input {
  background-color: var(--clr-700);
  color: var(--clr-100);

  padding: 8px 16px;
  text-align: center;
}

.details-panel button {
  background-color: var(--clr-accent-1);
  color: var(--clr-900);

  padding: 8px 12px;
  cursor: pointer;
}

.details-panel button i {
  pointer-events: none;
}

.details-panel button:hover {
  background-color: var(--clr-accent-2);
}
