.container {
  display: grid;
  grid-template-columns: 100px 1fr;

  height: 100vh;

  color: var(--clr-100);
  background-color: var(--clr-900);
}

.app-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border-right: 2px solid var(--clr-800);
  background-color: var(--clr-700);

}

.app-content {
  display: grid;
  grid-template-columns: 400px 1fr 400px;

  max-height: 100vh;
}
