@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("reset.css");
@import url("variables.css");
@import url("layout.css");
@import url("typography.css");
@import url("scrollbar.css");

@import url("app-logo.css");
@import url("nav.css");
@import url("user-avatar.css");

@import url("items-panel.css");
@import url("card-tile.css");

@import url("map.css");
@import url("map-search.css");

@import url("side-panel.css");
@import url("button.css");
@import url("items-list.css");

.content {
  background: var(--clr-900);
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content .items-list {
  margin: 16px 16px 16px;
}

#animals-list,
#files-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#animals-list .card-tile,
#files-list .card-tile {
}
