/* main navigation */
.main-nav {
  background: #333;
  align-self: stretch;
}

.main-nav ul {
  display: grid;
  gap: 20px;
  padding: 30px 20px;
}

.main-nav li {
  background: grey;
  border-radius: 10px;

  cursor: pointer;
}

.main-nav li.active {
  background: dodgerblue;
}

.main-nav li:hover {
  background: dodgerblue;
}

.main-nav a {
  display: block;
  padding: 10px 20px;
}
