.map-search {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  z-index: 999;

  padding: 8px;
  border-radius: 8px;

  display: flex;
  gap: 16px;

  background-color: var(--clr-800);
}

.map-search input,
.map-search button {
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.map-search input {
  background-color: var(--clr-700);
  color: var(--clr-100);

  padding: 8px 16px;
  text-align: center;
}

.map-search button {
  background-color: var(--clr-accent-1);
  color: var(--clr-900);

  padding: 8px 12px;
  cursor: pointer;
}

.map-search button:hover {
  background-color: var(--clr-accent-2);
}
