.nav {
  padding: 16px;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.nav-list-horizontal {
  flex-direction: row;
  justify-content: center;
}

.nav-item {
  cursor: pointer;
  text-align: center;

  border-radius: 8px;
  border: 1px solid var(--clr-600);
  transition: all 0.3s ease;

  display: grid;
  place-content: center;
}

.nav-item.active {
  border: 1px solid var(--clr-accent-1);
  background: var(--clr-accent-1);
}

.nav-item:hover {
  transform: scale(1.1);
  border: 1px solid var(--clr-accent-1);
}

.nav-link {
  padding: 16px;
}
